.contact-container {
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact-form {
    width: 100%;
    margin: 3rem 0;

    div {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin: 3rem 0;
      background: var(--bg-dark);

      form {
        display: flex;
        flex-direction: column;
        text-align: left;

        label {
          margin: 1.5rem 0 0.2rem;
          width: 250px;
        }
        input,
        textarea {
          width: 300px;
          padding: 0.3rem;
          background-color: var(--bg-light);
        }
        .dateTime {
          width: 120px;
        }
        div {
          margin: 0;
          gap: 0;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 310px;
        }
        button {
          margin: 2rem 0;
          width: 100px;
        }
      }
      img {
        height: 110vh;
      }
    }
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    h1 {
      font-family: var(--family-1);
      font-size: 4em;
      color: var(--mid-brown);
    }
    h2 {
      width: 60%;
      font-family: var(--family-3);
      font-size: 2rem;
      color: var(--darrke-grey);
    }
    div {
      margin: 5rem 0;
      width: 100%;
      height: max-content;
      background-image: url("../../assets/page6/flower.png");
      background-position-y: -80px;
      background-repeat: no-repeat;
      background-clip: content-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      card {
        position: relative;
        width: 300px;
        height: 70vh;
        left: 300px;
        background: #ffffffc9;
        backdrop-filter: blur(2px);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;

        img {
          width: 50px;
        }
      }
    }
  }
}

/* Responsive Design */

/* For screens up to 1440px */
@media (max-width: 1440px) {
  .contact-container {
    .contact-form {
      div {
        img {
          height: 80vh;
        }
      }
    }
  }
}

/* For screens up to 1024px */
@media (max-width: 1024px) {
}

/* For screens up to 768px */
@media (max-width: 768px) {
  .contact-container {
    .contact-form {
      width: 100%;
      margin: 0;

      div {
        form {
          label {
            margin: 1rem 0 0.2rem;
            font-size: 14px;
          }
          input,
          textarea {
            width: 250px;
            padding: 0.2rem;
            font-size: 14px;
          }
          .dateTime {
            width: 110px;
          }
          div {
            width: 250px;
          }
          button {
            margin: 1rem 0;
            width: 80px;
          }
        }
        img {
          height: 65vh;
        }
      }
    }
    .contact-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      h1 {
        font-size: 3em;
      }
      h2 {
        width: 80%;
        font-size: 1.5rem;
      }
      div {
        margin: 5rem;
        width: 100%;
        height: max-content;
        background-image: url("../../assets/page6/flower.png");
        background-position-y: -80px;
        background-repeat: no-repeat;
        background-clip: content-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        card {
          position: relative;
          width: 300px;
          height: 50vh;
          left: 150px;
          background: #ffffffc9;
          backdrop-filter: blur(2px);
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          text-align: center;

          item {
            img {
              width: 40px;
            }
            p {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

/* For screens up to 480px */
@media (max-width: 480px) {
  .contact-container {
    .contact-form {
      div {
        form {
          button {
            scale: 0.8;
          }
        }
        img {
          display: none;
        }
      }
    }
    .contact-info {
      h1,
      h2 {
        scale: 0.75;
        margin: -0.5rem;
      }
      div {
        card {
          width: 200px;
          height: max-content;
          left: 100px;
          img {
            width: 30px;
          }
          p,
          a {
            font-size: 12px;
          }
        }
      }
    }
  }
}
