@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Corinthia&family=Cormorant&family=Cormorant+Garamond&family=Dancing+Script&family=Ephesis&family=Forum&family=Kanit&family=Playfair+Display&family=Playfair+Display+SC&family=Raleway&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  max-width: 1440px;
  font-family: var(--family-3);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #222222de;
  background-color: #fcfcfc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --family-1: "Corinthia", system-ui, Avenir, Helvetica, Arial, sans-serif;
  --family-2: "Cormorant", system-ui, Avenir, Helvetica, Arial, sans-serif;
  --family-3: "Cormorant Garamond", system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  --family-4: "Dancing Script", system-ui, Avenir, Helvetica, Arial, sans-serif;
  --family-5: "Ephesis", system-ui, Avenir, Helvetica, Arial, sans-serif;
  --family-6: "Forum", system-ui, Avenir, Helvetica, Arial, sans-serif;
  --family-7: "Playfair Display", system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  --family-8: "Playfair Display SC", system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  --family-9: "Raleway", system-ui, Avenir, Helvetica, Arial, sans-serif;

  --ligher-grey: #6a6a6a;
  --light-grey: #5a5a5a;
  --grey: #4a4a4a;
  --dark-grey: #3a3a3a;
  --darker-grey: #2a2a2a;

  --light-brown: #e9e1d9;
  --mid-brown: #bba085;
  --dark-brown: #b58b61;

  --bg-light: #fafafa;
  --bg-mig: #f5f5f5;
  --bg-dark: #f2f2f2;
}

.aws-btn {
  --slider-height-percentage: 60%;
  --slider-transition-duration: 200ms;
  --organic-arrow-thickness: 4px;
  --organic-arrow-border-radius: 0px;
  --organic-arrow-height: 40px;
  --organic-arrow-color: #26456f;
  --control-button-width: 10%;
  --control-button-height: 25%;
  --control-button-background: transparent;
  --control-bullet-color: transparent;
  --control-bullet-active-color: transparent;
  --loader-bar-color: transparent;
  --loader-bar-height: 6px;
}

::-webkit-scrollbar {
  width: 5px; /* Scrollbar width */
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    90deg,
    var(--light-brown),
    var(--mid-brown)
  ); /* Thumb color */
  border-radius: 6px; /* Rounded corners */
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 6px;
}
::-webkit-resizer {
  all: unset;
  cursor: default;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 100%;
  min-height: 100vh;
}

a {
  all: unset;
}

button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--family-3);
  color: var(--darker-grey);
  background-color: var(--light-brown);
  padding: 0.4rem 1rem;
}

input {
  all: unset;
}
textarea {
  background: none;
  border: none;
  outline: none;
  color: var(--dark-grey);
  overflow: hidden;
  line-height: 20px;
  padding: 0.3rem 0;
}

.home-header-5 {
  text-transform: uppercase;
  font-family: var(--family-9);
  letter-spacing: 0.2rem;
  font-size: 18px;
  color: var(--mid-brown);
}
.home-header-2 {
  margin-top: 0.5rem;
  font-family: var(--family-3);
  letter-spacing: 0.2rem;
  line-height: 50px;
  font-size: 40px;
}

.about-container,
.services-container,
.portfolio-container,
.gallery-container,
.contact-container {
  .header {
    margin-top: 80px;
    height: 75vh;
    background-image: url('./assets/header.png');
    background-position-x: center;
    background-repeat: no-repeat;
    background-clip: content-box;
  }
}


@media (max-width: 1024px) {
  .navbar-container,
  .home-container,
  .about-container,
  .services-container,
  .portfolio-container,
  .gallery-container,
  .contact-container {
    max-width: 1024px;
  }
}

@media (max-width: 768px) {
  .navbar-container,
  .home-container,
  .about-container,
  .services-container,
  .portfolio-container,
  .gallery-container,
  .contact-container {
    max-width: 768px;
  }
}

@media (max-width: 480px) {
  .navbar-container,
  .home-container,
  .about-container,
  .services-container,
  .portfolio-container,
  .gallery-container,
  .contact-container {
    max-width: 480px;
  }
}
